$color-primary-solid: #28b483;
$color-secondary-solid: #7ed56f;

$color-primary: rgba(40, 180, 131, 0.8);
$color-secondary: rgba(126, 213, 111, 0.8);
$color-black-footer: #333;
$color-black: #777;
$color-black-gradient: rgba(47, 79, 79, 0.5);
$color-white: #fff;
$color-white-transparent: rgba(255, 255, 255, 0.6);
$color-white-transparent-90: rgba(255, 255, 255, 0.9);
$color-grey-light: #f7f7f7;
$color-grey-medium: gainsboro;
$color-cta-text: #bb6137;
$color-warning: tomato;
$color-box-shadow: rgba($color-black, 0.5);
$color-popup-background: rgba(51, 51, 51, 0.9);
